<div class="form-group ml-2">
  <h4>Email: </h4>
  <input type="email", name="email", placeholder="Email", style="width: 300px; margin: 1em">
</div>
<div class="form-goup ml-2">
  <h4>Password: </h4>
  <input type="password", name="password", placeholder="Password", style="width: 300px; margin: 1em"/>
</div>