<!-- _header.ejs -->
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if (user) { %>
      <div class="navbar-right">
        Logged in as: <%= user.email %>
        <form method="POST" action="/logout" class="d-inline">
          <button class="btn btn-link navbar-button" type="submit">Logout</button>
        </form>
      </div>
    <% } else { %>
      <div class="navbar-right">
        <a href="/login" class="btn btn-link navbar-button">Login</a>
        <a href="/register" class="btn btn-link navbar-button">Register</a>
      </div>
    <% } %>
  </nav>
</header>
