<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include necessary CSS or libraries -->
    <title>My URLs</title>
  </head>
  <body>
    <!-- Include the header partial -->
    <% include partials/_header %>
    
    <main style="margin: 1em;">
      <h3>My URLs</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Short URL ID</th>
            <th scope="col">Long URL</th>
          </tr>
        </thead>
        <tbody>
          <% for (let id in urls) { %>
            <tr>
              <td><%= id %></td>
              <td><%= urls[id] %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </main>
  </body>
</html>
