<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include necessary CSS or libraries -->
    <title>TinyURL for: <%= longURL %></title>
  </head>
  <body>
    <!-- Include the header partial -->
    <% include partials/_header %>

    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">
          Short URL ID: <a href="/u/<%= id %>"><%= id %></a>
        </p>
      </div>
      <div class="card-footer text-muted"></div>
    </div>
  </body>
</html>
